[submodule "spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = master
[submodule "submodules/kissfft"]
	path = submodules/kissfft
	url = https://github.com/mborgerding/kissfft.git
	branch = master
[submodule "submodules/rpi_ws281x"]
	path = submodules/rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x.git
	branch = master
